.logo{
    height: 60px;
    width: 60px;
}
header{
    position:fixed;
    z-index:1000;
    top: 0; /*ya que es lo primero*/
    left:0;
    width:100%;
    margin-bottom: 20px;
}
body{
    background-color: bisque;
}
main{
    margin-top:110px;
}
h1 {
     
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48pt;
    left:0;
    right: 0;
    text-align: center;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "Concert One", sans-serif; /*puse el tipo de letra en h1*/
}
#carouselExampleAutoplaying{
    position:relative;
}
a{
    color:black
}
a{
    text-decoration:none 
}
/*CAMBIAR SUB MENU POR UNO DE LO QUE NOS DIERON AL FINAL DE LA CLASE*/
.submenu{
    display:none
}

.submenu li{
    display:block
}
nav ul li:hover .submenu {
    display: block;
  }
.submenu2{
    display:none
    /*left=0;, porque si agrego esto no se me ve bien*/ 
}

.submenu2 li{
    display:block
}

.submenu:hover .submenu2 {
    display: block;
  }
.info-p{
    display:flex; /*activo flexbox*/
    align-items:center; /*Centras elementos de manera vertical por la altura, predeterminadamnete por el flex ya estan al lado los hijos*/
    justify-content:center; /*ajusta espacio entre los elementos hijos*/
    margin-top: 20px;
}
.img-container{
    width:50vw;
    /* height:auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img2{
    /* margin-top: 30px;
    margin-bottom:30px;
    left:20px; */
    /* height: 300px;
    width:300px; */
    width: 90%;
    margin: auto;
}
.texto1{
    width:50%
    
}
.texto1 h2{
    width: 90%;
    font-size: 32pt;
    text-align: justify;
    margin: auto;
}

.card img {
    width: 40vw;
    margin: auto;
    margin-top: 15px;
}

.section-tipo-arcilla {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    justify-content: center;
}

.submenu2 li {
    display: flex;
    justify-content: end;
}

.subtitulo {
    text-align: center;
    margin: 50px 0;
    font-size: 32pt;
    font-weight: bold;
}

/* CSS DE PRODUCTO COMIENZA ACÃ */
.lista-objetos {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 70vw;
}

.lista-objetos li {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.lista-objetos li section {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contendor-descripcion {
    flex-direction: column;
}

.lista-objetos li section img {
    width: 25vw; /*ES DE TODO O DE SU RECUADRO, AL INSPECCIONAR CREO QUE DE LOS 70VW QUE LE DI, PREGUNTAR?*/
    margin: auto;
}
.boton-comprar{
    background-color:blanchedalmond
}
.boton-vaciar{
    background-color: blanchedalmond
    
}

/* CSS DE PRODUCTO TERMINÃ ACÃ */

footer {
    margin-top: 30px;
}

/* @media only screen and (max-width: 460) {
    .info-p {
        flex-direction: column;
    }
} */
.info{
    text-align:center;
}
.subtitulo{
    font-size: 25pt;
    text-align: center;
    width: 100vw;
    background-color: rgba(226, 183, 183, 0.6);
    font-family: "Concert One", sans-serif; /*puse el tipo de letra en h1*/
}
.parrafo{
    font-size: 15pt;
    width:90vw;
    font-family: "Concert One", sans-serif; /*puse el tipo de letra en h1*/
    text-align: justify;
    margin:auto;
}
.card-contacto{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}
.card-header{
    font-family: "Concert One", sans-serif;
    font-size: 25pt;
}
.card-text{
    font-family: "Concert One", sans-serif;
    font-size:15pt;
}
.card-title{
    font-family: "Concert One", sans-serif;
    font-size: 20pt;
}
.boton-contacto{
    font-family: "Concert One", sans-serif;
    background-color: blanchedalmond; /*que le pasa esto que no cambia*/
}
#listaproductos_{
    min-height: 48vh;
}
@media (max-width: 460px) {
    #listaproductos_{
        min-height: 38vh;;
    }
    .info-p {
        flex-direction: column;
    }

    .img-container {
        width: 90vw;
    }

    .texto1 {
        width: 90vw;
    }

    .texto1 h2 {
        font-size: 18pt;
    } 

    /* CSS DE PRODUCTO COMIENZA ACÃ */
    .lista-objetos { /* este es el ul */
        width: 95vw;
    }

    .lista-objetos li section img {
        width: 40vw;
    }
    /* CSS DE PRODUCTO TERMINA ACÃ */
    /*CSS DE CONTACTO*/
    .texto-contacto{
        font-size:45pt;
    }
}

